# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
# ide settings
.vscode/
.idea/
# other files
desktop.ini
**/desktop.ini
*:Zone.Identifier
*Zone.Identifier

# don't ignore:
!logs_input
!models_output