html, body{ 
  margin:0;
  padding:0;
  border: 0;
  width:100%;
  height:80px;
}

body{
  background-color: #a994ec;
  font-family: 'Source Sans Pro', Arial;
  color: white;
}

h1{
  font-size: 60px;
  text-align: center;
  margin: 0;
  padding-top: 10px;
}

.model-color{
  background-color: white;
  position: relative;   
}

#header_main{
  margin-top:0;
  width: 100%;
  height: 90px;
  background-color: #7159C1;
  margin-bottom: 20px;
}

form{
  text-align: center;
  margin-top: 30px;    
}

footer {
  text-align: center;
  width: 600px;
  margin-left: auto;
  margin-right: auto;
  color: black;
  margin-top: 200px;    
}

.hideDiv{
  display: None;
}

.showLoader {
  display: block;
  width: 100%;
  align-items: center;     
  margin: 0;
}

.showLoader h3{
  margin-left: 45%;
  padding: 0;
}

.showLoader img{
  margin-left: 42%;
  padding: 0; 
}

#model-container{
  margin: 2% 0 0 0; 
  padding: 0;
  width: 100%;
  height: auto;  
}

#model-container img{  
  width: 100%;
  height: auto;    
  margin: 0; 
  padding: 0;
}