<!DOCTYPE html>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<html lang="en-US">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">    
    <title>Descoberta de Modelos de Processo - Algoritmo Alpha</title>
</head>
<body>
    <header id="header_main">
        <h1>Descoberta de Modelos de Processo - Algoritmo Alpha</h1>
    </header>
    <section>
        <article class="mainForm">            
            <label id="img">Insira seu log de eventos no formato .xes:</label>
            <input type="file" name="file" id="xes-insert"  accept=".xes" onchange="openFile(event, 'model-container')">                       
        </article>
        <div id="loading" class="hideDiv">  
            <h3>Por favor, aguarde!</h3>
            <img src="{{ url_for('static', filename='loading.gif') }}" alt="Girl in a jacket">
        </div>
        <div id="model-container">            
        </div>
    </section>
    <footer>
        <p> © 2020 - Desenvolvido por Christopher Paladino, Elio Ribeiro, Samyr Moises & Tamires Cunha como trabalho final da disciplina de pós graduação SIN-5025 da Universidade de São Paulo - Todos os direitos reservados </p>
    </footer>
    <script type="text/javascript" src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>
</html>